{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col l7 center">
                <h1>Erreur</h1>
                <div class="error">
                    <p>Un problème est survenu sur cette page... </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}