{% extends 'base.html.twig' %}

{% block body %}
    <div class="row erreur">
        <div class="col s12 center">
            <h1>Erreur</h1>
            <p>
                Il semble que vous n'ayez pas le droit d'accéder à cette page...
            </p>

            <a href="{{ path('ruralis_homepage') }}">
                <button class="btn waves-effect waves-light" type="submit" name="valider">
                    Retour à l'accueil
                </button>
            </a>
        </div>
    </div>
{% endblock %}