/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
Supprimerait app/cache/
Supprimerait app/logs/
.idea/bleau_S2_2016_ruralis.iml
.idea/deployment.xml
.idea/modules.xml
.idea/symfony2.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/*
Supprimerait app/cache/
Supprimerait app/logs/
