.abonnement{

  .row .col {
    padding:0;
  }

  .lecteur img, .donateur img, .ambassadeur2 img{
    width:150px;
    height:150px;
  }

  .lecteur, .donateur, .ambassadeur, .cadeau {
    border-style:solid;
    border-width:2px;
    margin:auto;
  }

  .lecteur{
    background-color: rgba(0, 184, 43, 1);
  }

  .lecteur2{
    border-style:solid;
    border-width:2px;
    height:120px;
  }

  .lecteur2 img, .donateur3 img{
    width:5%;
    height:5%;
  }

  .cadeau{
    padding:40px;
  }

  .don{
    border-style:solid;
    border-width:2px;
    height:80px;
    margin-top:40px;
  }

  .donateur{
    background-color: rgba(239, 255, 0, 1);
  }

  .donateur2, .donateur3{
    border-style:solid;
    border-width:2px;
    height:200px;
  }

  .ambassadeur{
    background-color: rgb(239, 94, 0);
  }

  .ambassadeur3{
    border-style:solid;
    border-width:2px;
    height:140px;
    margin-top:40px;
    margin-bottom:40px;
  }

  .hoverable a, .hoverable, .lecteur2 a{
    border-color: black;
    color: rgba(1, 0, 1, 0.55);
  }

  div .don.hoverable a, div .donateur2.hoverable p, div .donateur3.hoverable p, div .ambassadeur3.hoverable p {
    margin : auto;
  }

div .cadeau p {
  margin-top: 20px;
  margin-bottom: 20px;
}

}
