//
//select {
//  display : block !important;

.adminmodel {
   .input-field label,
   label,
   .dropdown-content li > a,
   .dropdown-content li > span,
   .descimg {
     color: $orange;
     background-color: #ebebeb;
   }

   h1{
  color: #4c4c4c;
  text-align:center;
  }

  .adminImg{
    width:50px;
  }
}

.btn{
  background-color: #00B82B;
}

.btn:hover{
  background-color: #00f138;
}

.adminmodel {
  max-width: 90%;
  background-color: #ebebeb;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-radius: 15px;
  margin-top:12%;
  a {
  color: #00B82B;
  }
}

.container .row {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

.input-field label {
  color: white;
  left: 4px;
}

label{
  color:white;
}

.select-wrapper input.select-dropdown{
  border-bottom-color:white;
}

.select-dropdown{
  color: #00B82B;
}

.file-path {
  color:white;
}



.imageAdmin{
  height:150px;
}

.middleText{
  margin-top:75px;
}

textarea {
background-color: #ebebeb !important;
}
