/*
select {
  display : block !important;
}*/
.adminmodel h1{
  color: #4c4c4c;
  text-align:center;
}

.adminImg{
  width:50px;
}
.btn{
  background-color: #00B82B;
}

.btn:hover{
  background-color: #47d9bc;
}

.adminmodel {
  max-width: 90%;
  background-color: #ebebeb;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-radius: 15px;
  margin-top:12%;
}

.container .row {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}


.input-field label {
  color: white;
  left: 4px;
}

label{
  color:white;
}

.select-wrapper input.select-dropdown{
  border-bottom-color:white;
}

.select-dropdown{
  color: #00B82B;
}

.file-path {
  color:white;
}

a {
  color: #00B82B;
}

.imageAdmin{
  height:150px;
}

.middleText{
  margin-top:75px;
}

.articlenew {
  //input:not([type]),
  //input[type="text"],
  //input[type="password"],
  //input[type="email"],
  //input[type="url"],
  //input[type="time"],
  //input[type="date"],
  //input[type="datetime"],
  //input[type="datetime-local"],
  //input[type="tel"],
  //input[type="number"],
  //input[type="search"],
  //textarea.materialize-textarea{
  //  background-color: #ebebeb;
  //}

  .input-field label,
  label,
  .dropdown-content li > a,
  .dropdown-content li > span,
  .descimg {
    color: $orange;
  }
}