// ----------------------------------- USER BLOG CARDS ------------------------------------------\\

.blog {
    h4, .card-content {
        color: black;
    }

    a.cardLink {
        color: #ffd8a6;
    }
    .fixedSideNav .row {
        img {
            width: 70%;
        }
        .paypal {
            width: 30% !important;
        }

        position: fixed;
        width: 16.6666666667%;
        height: auto;
    }

    .current a {
        background-color: rgba(234, 100, 12, 0.8) !important;
    }

    .hoverable.header, .hoverable.card {
        height: 2% !important;
    }

    .article {
        max-height: 311px;
        margin-bottom: 20px;
    }

    .card-image{
        min-width: 260px;
    }

    .card img {
        margin-left: 5px;
        margin-top: 5px;
    }

    .card-image > img, .card-content {
        max-width: 90%;
        max-height: 90%;
        width: auto;
    }

    .la_une .card-image img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: auto;
    }
    // CARTE LARGE (UNE)
    .large {
        max-height: 500px !important;
        img {
            max-height: 410px;
        }
    }

    // CARTE CARREE
    .carre {
        min-height: 300px;
        .card-image {
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: auto;
                height: auto;
                min-height: 200px;
            }
        }
    }

    // CARTE HORIZONTALE
    .horizontal {
        min-height: 265px;
        max-height: 300px;
        .card-image img {
            margin-top: 5px;
            margin-left : auto;
            margin-right: auto;
            margin-bottom: auto;
        }
        // Rajoute une possibilité de scroll quand descriptif trop long
        .card-stacked .card-content {
            overflow-y: auto;
        }
    }

    /****************************/
    /*        row  & col        */
    /****************************/

    .rowCustom {
        padding: 0px !important;
        margin-bottom: 45px;
    }

    .colCustom {
        padding: 0px !important;
        margin-bottom: 19px !important;
    }

    /***********************************/
    /*        Images abonnement        */
    /***********************************/

    .logoabt {
        position: relative;
        z-index: 2;
    }

    /***********************************/
    /*        SideNav Responsive       */
    /***********************************/

    @media screen and (max-width: 640px) {
        .fixedSideNav {
            display: block;
            visibility: hidden;
        }
        .card.horizontal {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            position: relative;
        }

        .carre {
            min-height: 300px;
            .card-image {
                img {
                    width: 100%;
                    height: inherit;
                    min-height: inherit;
                }
            }
        }
    }
}
