// ----------------------------------- USER BLOG CARDS ------------------------------------------\\

.hoverable.header, .hoverable.card{
  height:2% !important;
}
.article {
  max-height: 200px;
  overflow: none;
  margin-bottom:70px;
}

.card-image > img, .card-content{
    max-height: 190px;
    width: auto;
}

/*.card.large {
  height : 33.3333333333%;
  width : 33.3333333333%;
}*/

.la_une {
  margin-top: 40px;
}

h4, .card-content{
  color:black;
}

a.cardLink{
  color:#ffd8a6;
}

.fixed .row{
  position:fixed;
  top:40%;
  width:120px;
  color:red;
  margin-left:40px;
  text-align:center;
}

.fixed div img{
  width:40px;
}

.current a {
  background-color: rgba(234, 100, 12, 0.8) !important;
}

.blogTop{
  margin-top:12%;
}