// ----------------------------------- USER BLOG CARDS ------------------------------------------\\

.card.large {
  height : 33.3333333333%;
  width : 33.3333333333%;
}

.la_une {
  margin-top: 40px;
}

h4, .card-content{
  color:black;
}

a.cardLink{
  color:#ffd8a6;
}