.erreur{
    max-width: 90%;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-top: 3%;
    height: 87%;

    .orangetxt {
        color: $orange;
        font-weight: bold;
    }

    .btn{
        background-color: #00B82B;
    }

    .btn:hover{
        background-color: #00f138;
    }
}