.formulaire {
    //Les inputs
    label {
        color: $darkgrey;
    }
    .input-field label {
        color: $darkgrey !important;
    }

    input:not([type]):focus:not([readonly]),
    input[type=text]:focus:not([readonly]),
    input[type=password]:focus:not([readonly]),
    input[type=email]:focus:not([readonly]),
    input[type=url]:focus:not([readonly]),
    input[type=time]:focus:not([readonly]),
    input[type=date]:focus:not([readonly]),
    input[type=datetime]:focus:not([readonly]),
    input[type=datetime-local]:focus:not([readonly]),
    input[type=tel]:focus:not([readonly]),
    input[type=number]:focus:not([readonly]),
    input[type=search]:focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid $gris;
        box-shadow: 0 1px 0 0 $darkgrey;
    }
    input.validate .active {
        border-bottom-color: black;
    }

    input:not([type]),
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    input[type="time"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="tel"],
    input[type="number"],
    input[type="search"],
    extarea.materialize-textarea {
        border-bottom: 1px solid $darkgrey;
    }

    // Texte de la case Newsletter
    span {
        color: $darkgrey;
        font-weight: bold;
    }

    //// Boutons
    //.btn{
    //    background-color: #00B82B;
    //}
    //
    //.btn:hover{
    //    background-color: #00f138;
    //}

    // Récapitulatif Abonnement
    .champsForm {
        font-size: 18px !important;
        p {
            color: $darkgrey;
        }
    }
}