// ATTENTION ==> DES MIXINS ET VARIABLE SONT DEFINIE DANS MAIN.SCSS


/*==================================================================== */
/* ----------------------- NAVIGATION BAR ----------------------- */
/*==================================================================== */

//ERASE MATERIALIZE CSS
.navigation .col {
        padding: initial !important;
}
.navigation .row{
    margin-bottom: 0 !important;
}

//NAV BAR
.fixed_nav {
    position: fixed;
    width: 100%;
    height: auto;
}
.navigation{
    a, li{
        color : $orange;
    }
    li{
        text-align: center;
    }
    a, .nl {
        font-weight: 800;
    }
}

.majalla, .majallaSmall, .majallaSmallItalic {
    font-family: 'majalla';
    color: white !important;
}

.majalla {
    font-size: 40px;
    font-weight: 800;
}

.majallaSmall {
    font-weight: 100;
    font-size: 20px;
}

.majallaSmallItalic {
    font-style: italic;
    font-size: 25px;
    margin-top: 27px;
}

div .titreRuralis {
    max-height: 33px;
}
//First line nav bar
.first_line {
    background-color: $orange;
    max-height: 56px;
    margin-bottom:0;
}
.nav_logo {
    width: 100%;
    max-height: 56px;
}

.logoFb{
    height:45px;
    padding-top:5px;
    padding-left:50px;
}

.logoTw{
    height:45px;
    padding-top: 5px;
}

.logoIn{
    height:45px;
    padding-top:5px;
}
.smallarbre {
    max-width: 64%;
}
#animation {
    background-repeat: no-repeat;
}
#bottommark {
    position: absolute;
    bottom: 0;
    width: 0;
}

//Second line nav bar
.second_line{
    background-color: rgba(255,255,255,0.75);
    a:hover {
        background-color : rgba(234, 100, 12, 0.48);
        color : rgb(234, 76, 10);
    }
    ul li{
        float: left;
    }
}

.navlinks{
    margin-top: -15px;
    margin-bottom: 0;
    list-style: none;
    li {
        margin-bottom: 1em;
        padding-left: 1em;
        position: relative;
        margin-left: 10%;
        &:after {
            content: '';
            height: .4em;
            width: .4em;
            background: $orange;
            display: block;
            position: absolute;
            transform: rotate(45deg);
            top: .5em;
            left: 2px;
        }
    }
    li:first-child{
        margin-left: 0px;
    }
}
.navlinks_on_scroll{
    margin-top: -15px;
    margin-bottom: 0;
    list-style: none;
    height: 30px;
    .li_nav_menu {
        margin-bottom: 1em;
        padding-left: 1em;
        position: relative;
        margin-left: 60px;
        &:after {
            content: '';
            height: .4em;
            width: .4em;
            background: $orange;
            display: block;
            position: absolute;
            transform: rotate(45deg);
            top: .5em;
            left: 2px;
        }
    }
    .last{
        margin-right: 2% !important;
    }
}

//Third line nav bar
.third_line {
    background-color: rgba(255, 255, 255, 0.75);
    ul{
        margin-bottom: 0px;
    }
}
.mailbox {
    margin-top: -22px;
    margin-right: 3%;
    list-style: none;
}
.navigation .input-field label{
    color: $orange;
    top: 1.8rem;
}

.navigation input[type="email"] {
    border-bottom: 1px solid $orange;
}
