.partenaire {
    text-align: center;

    .partenaireTop {
    margin-top: 150px;
    }

    .nomPart{
        font-weight: bold;
        color:#EF651B;
    }

    img {
        height:150px;
    }
}