@charset "UTF-8";
/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*==================================================================== */
/* ----------------------- Mixins + Variables ----------------------- */
/*==================================================================== */
@font-face {
  font-family: 'majalla';
  src: local("majjala"), url("../fonts/majalla.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/*==================================================================== */
/* ----------------------- GENERAL CSS ----------------------- */
/*==================================================================== */
/* line 39, ../sass/main.scss */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("../images/fond_texture_blanc.jpg");
  background-repeat: repeat;
}

/* line 46, ../sass/main.scss */
main {
  flex: 1 0 auto;
}

/* line 51, ../sass/main.scss */
.col {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* line 57, ../sass/main.scss */
.size-large {
  width: 100%;
}

/* line 60, ../sass/main.scss */
header {
  height: 168px !important;
  z-index: 3;
}

/* line 64, ../sass/main.scss */
p {
  font-size: 18px;
  font-family: 'Time New Roman', Regular !important;
}

/* line 68, ../sass/main.scss */
h1 {
  font-family: 'Arial Bold';
  text-align: center;
  font-size: 35px;
}

/* line 74, ../sass/main.scss */
h5 {
  text-align: center;
  font-size: 25px;
  font-family: 'Sakkal Majalla Bold';
  color: #ea640c;
}

/* line 82, ../sass/main.scss */
input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #ea640c;
}

/* line 97, ../sass/main.scss */
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ea640c;
  box-shadow: 0 1px 0 0 #ea640c;
}

/* line 113, ../sass/main.scss */
input:not([type]),
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="tel"],
input[type="number"],
input[type="search"],
textarea.materialize-textarea {
  color: black;
}

/* line 128, ../sass/main.scss */
[type="checkbox"]:checked + label:before {
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #ea640c;
  border-bottom: 2px solid #ea640c;
}

/* line 134, ../sass/main.scss */
.input-field label {
  color: #ea640c;
}

/* line 140, ../sass/main.scss */
.btn.nl {
  background-color: #ea640c;
  margin-top: -11px;
}

/* line 144, ../sass/main.scss */
.btn.nl:hover {
  background-color: #ff8436;
}

/*Theme Name: Ruralis
Author: Marielle Lautrou and Aurore David
*/
/*==================================================================== */
/* ------------------------------ MENU ------------------------------- */
/*==================================================================== */
/*
1. IMAGES TOP

2. BODY RURALIS
1. Description
2. Territoire
3. Editorial
4. Arpenteurs
5. Peuples
6. Objectifs
7. Abonnement
8. Citation
9. Trombinoscope + présentation équipe

3. FOOTER
*/
/*==================================================================== */
/* -------------------------- IMAGES TOP PAGE ----------------------- */
/*==================================================================== */
/*Top image*/
/* line 35, ../sass/_general.scss */
.header-bandeau .ruralis_img_top {
  margin-bottom: 0;
}
/* line 38, ../sass/_general.scss */
.header-bandeau .logo {
  position: relative;
  bottom: 565px;
  margin-bottom: -320px;
  z-index: 2;
}

@media screen and (max-width: 600px) {
  /* line 49, ../sass/_general.scss */
  .header-bandeau .logo {
    display: none;
  }
}
/*==================================================================== */
/* -------------------------- BODY RURALIS --------------------------- */
/*==================================================================== */
/* line 60, ../sass/_general.scss */
.description {
  text-align: center;
  margin-top: -20px;
  padding-top: -20px;
}
/* line 64, ../sass/_general.scss */
.description p {
  color: #ea640c;
}

/* line 70, ../sass/_general.scss */
.territoire {
  padding: 0;
  width: 100%;
}
/* line 73, ../sass/_general.scss */
.territoire h4 {
  padding: 15px 0;
}
/* line 11, ../sass/main.scss */
.territoire img {
  width: 100%;
}
/* line 14, ../sass/main.scss */
.territoire .col {
  padding: 0 0.30rem !important;
}

/* line 80, ../sass/_general.scss */
.editorial {
  text-align: center;
}
/* line 82, ../sass/_general.scss */
.editorial .edit {
  padding-left: 5px !important;
}

/* line 88, ../sass/_general.scss */
.arpenteurs {
  padding: 8px 0;
  margin-top: 7%;
  background-color: rgba(211, 211, 211, 0.5);
  text-align: center;
}

@media screen and (max-width: 600px) {
  /* line 96, ../sass/_general.scss */
  .arpenteurs.valign-wrapper {
    display: block;
  }
  /* line 98, ../sass/_general.scss */
  .arpenteurs.valign-wrapper img {
    width: 50%;
  }
}
/* line 105, ../sass/_general.scss */
.peuple {
  text-align: center;
}
/* line 11, ../sass/main.scss */
.peuple img {
  width: 100%;
}
/* line 14, ../sass/main.scss */
.peuple .col {
  padding: 0 0.30rem !important;
}

/* line 112, ../sass/_general.scss */
.objectifs div:first-child {
  text-align: center;
}
/* line 115, ../sass/_general.scss */
.objectifs .txtorange {
  color: #ea640c;
}

/* line 120, ../sass/_general.scss */
.abonnes p {
  text-align: center;
  font-weight: bold;
}
/* line 124, ../sass/_general.scss */
.abonnes img {
  width: 50%;
}
/* line 127, ../sass/_general.scss */
.abonnes a {
  background-color: #ea640c;
}
/* line 130, ../sass/_general.scss */
.abonnes a:hover {
  background-color: #ff8436;
}
/* line 133, ../sass/_general.scss */
.abonnes span {
  color: #ea640c;
}
/* line 136, ../sass/_general.scss */
.abonnes .btn_en_savoir_plus {
  height: inherit;
}

/* line 142, ../sass/_general.scss */
.abonnement_ruralis {
  padding: 0 5%;
  background-color: rgba(211, 211, 211, 0.5);
}
/* line 11, ../sass/main.scss */
.abonnement_ruralis img {
  width: 100%;
}
/* line 14, ../sass/main.scss */
.abonnement_ruralis .col {
  padding: 0 0.30rem !important;
}

@media screen and (max-width: 600px) {
  /* line 150, ../sass/_general.scss */
  .abonnement_ruralis div:last-child {
    margin-left: 25% !important;
  }
}
/* line 158, ../sass/_general.scss */
.citation {
  color: #ea640c;
}
/* line 160, ../sass/_general.scss */
.citation img {
  width: 7%;
}
/* line 163, ../sass/_general.scss */
.citation span {
  font-size: 80%;
  color: black;
}

/* line 171, ../sass/_general.scss */
.trombi h6 {
  color: #ea640c;
}
/* line 175, ../sass/_general.scss */
.trombi p {
  font-family: 'Courier New', sans-serif !important;
}
/* line 179, ../sass/_general.scss */
.trombi .col {
  padding: 0 0.30rem !important;
}
/* line 182, ../sass/_general.scss */
.trombi img {
  width: 100%;
}

/*==================================================================== */
/* ----------------------------- FOOTER ------------------------------ */
/*==================================================================== */
/* line 190, ../sass/_general.scss */
footer {
  background-color: #ea640c !important;
  padding: 20px;
  bottom: 0;
  text-align: center;
}
/* line 196, ../sass/_general.scss */
footer a {
  color: white;
}
/* line 200, ../sass/_general.scss */
footer a:hover {
  font-weight: bold;
}
/* line 204, ../sass/_general.scss */
footer img {
  width: 30%;
}

@media screen and (max-width: 600px) {
  /* line 211, ../sass/_general.scss */
  footer .valign-wrapper {
    display: block;
  }
  /* line 214, ../sass/_general.scss */
  footer .logowcs {
    margin-top: 35px;
  }
}
/*==================================================================== */
/* ----------------------- NAVIGATION BAR ----------------------- */
/*==================================================================== */
/* line 9, ../sass/_navbar.scss */
.navigation .col {
  padding: initial !important;
}

/* line 12, ../sass/_navbar.scss */
.navigation .row {
  margin-bottom: 0 !important;
}

/* line 17, ../sass/_navbar.scss */
.nav_responsive {
  display: none;
}

/* line 20, ../sass/_navbar.scss */
.fixed_nav {
  position: fixed;
  width: 100%;
  height: auto;
}

/* line 26, ../sass/_navbar.scss */
.navigation a, .navigation li {
  color: #ea640c;
}
/* line 29, ../sass/_navbar.scss */
.navigation li {
  text-align: center;
}
/* line 32, ../sass/_navbar.scss */
.navigation a, .navigation .nl {
  font-weight: 800;
}

/* line 37, ../sass/_navbar.scss */
.majalla, .majallaSmall, .majallaSmallItalic {
  font-family: 'majalla';
  color: white !important;
}

/* line 42, ../sass/_navbar.scss */
a.majalla {
  font-size: 50px;
  font-weight: 100;
  margin-left: 10px;
}

/* line 48, ../sass/_navbar.scss */
div.majallaSmall {
  margin-top: 12px;
  margin-left: 5px !important;
}

/* line 53, ../sass/_navbar.scss */
a.majallaSmall {
  font-weight: 100 !important;
  font-size: 20px;
  letter-spacing: 2.5px !important;
}

/* line 59, ../sass/_navbar.scss */
.majallaSmallItalic {
  font-style: italic;
  font-size: 25px;
  margin-top: 27px;
}

/* line 65, ../sass/_navbar.scss */
div .titreRuralis {
  max-height: 33px;
  margin-top: -15px;
}

/* line 70, ../sass/_navbar.scss */
.first_line {
  background-color: #ea640c;
  max-height: 56px;
  margin-bottom: 0;
}

/* line 75, ../sass/_navbar.scss */
.nav_logo {
  width: 100%;
  max-height: 56px;
}

/* line 80, ../sass/_navbar.scss */
.logoFb {
  height: 45px;
  padding-top: 5px;
}

/* line 85, ../sass/_navbar.scss */
.logoTw {
  height: 45px;
  padding-top: 5px;
}

/* line 90, ../sass/_navbar.scss */
.logoIn {
  height: 45px;
  padding-top: 5px;
}

/* line 94, ../sass/_navbar.scss */
.smallarbre {
  max-width: 64%;
}

/* line 97, ../sass/_navbar.scss */
#animation {
  background-repeat: no-repeat;
}

/* line 100, ../sass/_navbar.scss */
#bottommark {
  position: absolute;
  bottom: 0;
  width: 0;
}

/* line 107, ../sass/_navbar.scss */
.second_line {
  background-color: rgba(255, 255, 255, 0.75);
}
/* line 109, ../sass/_navbar.scss */
.second_line a:hover {
  background-color: rgba(234, 100, 12, 0.48);
  color: #ea4c0a;
}
/* line 113, ../sass/_navbar.scss */
.second_line ul li {
  float: left;
}

/* line 118, ../sass/_navbar.scss */
.navlinks {
  margin-top: -15px;
  margin-bottom: 0;
  list-style: none;
}
/* line 122, ../sass/_navbar.scss */
.navlinks li {
  margin-bottom: 1em;
  padding-left: 1em;
  position: relative;
  margin-left: 10%;
}
/* line 127, ../sass/_navbar.scss */
.navlinks li:after {
  content: '';
  height: .4em;
  width: .4em;
  background: #ea640c;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: .5em;
  left: 2px;
}
/* line 139, ../sass/_navbar.scss */
.navlinks li:first-child {
  margin-left: 0px;
}

/* line 143, ../sass/_navbar.scss */
.navlinks_on_scroll {
  margin-top: -15px;
  margin-bottom: 0;
  list-style: none;
  height: 30px;
}
/* line 148, ../sass/_navbar.scss */
.navlinks_on_scroll .li_nav_menu {
  margin-bottom: 1em;
  padding-left: 1em;
  position: relative;
  margin-left: 60px;
}
/* line 153, ../sass/_navbar.scss */
.navlinks_on_scroll .li_nav_menu:after {
  content: '';
  height: .4em;
  width: .4em;
  background: #ea640c;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: .5em;
  left: 2px;
}
/* line 165, ../sass/_navbar.scss */
.navlinks_on_scroll .last {
  margin-right: 2% !important;
}

/* line 171, ../sass/_navbar.scss */
.third_line {
  background-color: rgba(255, 255, 255, 0.75);
}
/* line 173, ../sass/_navbar.scss */
.third_line ul {
  margin-bottom: 0px;
}

/* line 177, ../sass/_navbar.scss */
.mailbox {
  margin-top: -22px;
  margin-right: 3%;
  list-style: none;
}

/* line 182, ../sass/_navbar.scss */
.navigation .input-field label {
  color: #ea640c;
  top: 1.8rem;
}

/* line 187, ../sass/_navbar.scss */
.navigation input[type="email"] {
  border-bottom: 1px solid #ea640c;
}

@media screen and (max-width: 600px) {
  /* line 194, ../sass/_navbar.scss */
  header {
    height: 56px !important;
  }
  /* line 195, ../sass/_navbar.scss */
  header .nav_responsive {
    display: block;
    background-color: #ea640c;
    position: fixed;
    z-index: 999;
  }
  /* line 202, ../sass/_navbar.scss */
  header .fixed_nav {
    display: none;
  }
  /* line 205, ../sass/_navbar.scss */
  header nav .brand-logo {
    height: 100%;
  }
  /* line 207, ../sass/_navbar.scss */
  header nav .brand-logo img {
    height: 100%;
  }
}
/* line 3, ../sass/_admin.scss */
.adminmodel {
  max-width: 90%;
  background-color: #B3AFAF;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-radius: 15px;
  margin-top: 3%;
}
/* line 11, ../sass/_admin.scss */
.adminmodel h1 {
  color: #4c4c4c;
  text-align: center;
  font-family: 'majalla';
}
/* line 17, ../sass/_admin.scss */
.adminmodel a {
  color: white !important;
}
/* line 21, ../sass/_admin.scss */
.adminmodel a:hover {
  font-weight: bold;
}
/* line 25, ../sass/_admin.scss */
.adminmodel a .lienAction {
  color: #00B82B;
}
/* line 29, ../sass/_admin.scss */
.adminmodel .container .row {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}
/* line 34, ../sass/_admin.scss */
.adminmodel .input-field label {
  color: white;
  left: 4px;
}
/* line 39, ../sass/_admin.scss */
.adminmodel .select-wrapper input.select-dropdown {
  border-bottom-color: white;
}
/* line 43, ../sass/_admin.scss */
.adminmodel .file-path {
  color: white;
}
/* line 47, ../sass/_admin.scss */
.adminmodel .imageAdmin {
  height: 150px;
}
/* line 52, ../sass/_admin.scss */
.adminmodel .middleText {
  margin-top: 75px;
}
/* line 56, ../sass/_admin.scss */
.adminmodel textarea {
  background-color: #ebebeb !important;
}
/* line 60, ../sass/_admin.scss */
.adminmodel label {
  color: white;
}
/* line 64, ../sass/_admin.scss */
.adminmodel .input-field label,
.adminmodel label,
.adminmodel .dropdown-content li > a,
.adminmodel .dropdown-content li > span,
.adminmodel .descimg {
  color: #ea640c;
}
/* line 72, ../sass/_admin.scss */
.adminmodel .adminImg {
  width: 50px;
}
/* line 76, ../sass/_admin.scss */
.adminmodel .btn {
  background-color: #00B82B;
}
/* line 80, ../sass/_admin.scss */
.adminmodel .btn:hover {
  background-color: #00f138;
}

/* line 89, ../sass/_admin.scss */
.menuAdmin .valign-wrapper {
  border: 2px solid #4c4c4c;
  border-radius: 20px;
  height: 200px;
  justify-content: center;
}
/* line 96, ../sass/_admin.scss */
.menuAdmin div .jaune {
  background-image: url("../images/fond_texture_jaune.png");
  background-size: 0.7%;
  background-repeat: repeat;
}
/* line 102, ../sass/_admin.scss */
.menuAdmin div .vert {
  background-image: url("../images/fond_texture_vert.png");
  background-size: 0.7%;
  background-repeat: repeat;
}
/* line 108, ../sass/_admin.scss */
.menuAdmin div .orange {
  background-image: url("../images/fond_texture_orange.png");
  background-size: 0.7%;
  background-repeat: repeat;
}
/* line 114, ../sass/_admin.scss */
.menuAdmin a {
  color: #4c4c4c !important;
  font-size: 50px;
  font-family: 'majalla';
}

/* line 1, ../sass/_abonnement.scss */
.abonnement {
  font-size: 26px;
}
/* line 5, ../sass/_abonnement.scss */
.abonnement .row .col {
  padding: 0;
}
/* line 12, ../sass/_abonnement.scss */
.abonnement .options {
  position: fixed;
  top: 48%;
  text-align: center;
  z-index: 1;
}
/* line 19, ../sass/_abonnement.scss */
.abonnement .abotop {
  margin-top: 30px;
  padding-top: 20px;
}
/* line 24, ../sass/_abonnement.scss */
.abonnement .abovert {
  margin-top: 40px;
  z-index: 99999999999999999999999999;
}
/* line 29, ../sass/_abonnement.scss */
.abonnement .lhsmall {
  line-height: 1;
}
/* line 33, ../sass/_abonnement.scss */
.abonnement .logoabt {
  position: relative;
  z-index: 2;
  max-width: 120px;
}
/* line 41, ../sass/_abonnement.scss */
.abonnement .margtop {
  margin-top: 30px;
  color: grey;
  font-family: 'Time New Roman', Regular;
  font-size: 18px;
}

/* line 51, ../sass/_abonnement.scss */
.abomodel {
  max-width: 90%;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-radius: 15px;
  margin-top: 3%;
  font-size: 22px;
  line-height: 15px;
  font-family: 'Time New Roman', Regular;
}
/* line 61, ../sass/_abonnement.scss */
.abomodel .recaptitres {
  font-weight: bold;
  margin-top: 55px;
}

/* line 3, ../sass/_blog.scss */
.hoverable.header, .hoverable.card {
  height: 2% !important;
}

/* line 6, ../sass/_blog.scss */
.article {
  max-height: 200px;
  overflow: none;
  margin-bottom: 70px;
}

/* line 12, ../sass/_blog.scss */
.card-image > img, .card-content {
  max-height: 190px;
  width: auto;
}

/* line 17, ../sass/_blog.scss */
.la_une .card-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 230px;
  max-height: 200px;
  width: auto;
  height: auto;
}

/* line 27, ../sass/_blog.scss */
.carre .card-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

/* line 37, ../sass/_blog.scss */
h4, .card-content {
  color: black;
}

/* line 41, ../sass/_blog.scss */
a.cardLink {
  color: #ffd8a6;
}

/* line 44, ../sass/_blog.scss */
.fixedSideNav .row {
  position: fixed;
  width: 16.6666666667%;
  height: auto;
}
/* line 45, ../sass/_blog.scss */
.fixedSideNav .row img {
  width: 70%;
}
/* line 48, ../sass/_blog.scss */
.fixedSideNav .row .paypal {
  width: 30% !important;
}

/* line 57, ../sass/_blog.scss */
.current a {
  background-color: rgba(234, 100, 12, 0.8) !important;
}

/****************************/
/*        row  & col        */
/****************************/
/* line 65, ../sass/_blog.scss */
.rowCustom {
  padding: 0px !important;
  margin: 0px !important;
}

/* line 70, ../sass/_blog.scss */
.colCustom {
  padding: 0px !important;
  margin: 0px;
}

/***********************************/
/*        Images abonnement        */
/***********************************/
/* line 80, ../sass/_blog.scss */
.logoabt {
  position: relative;
  z-index: 2;
}

/* line 1, ../sass/_partenaire.scss */
.partenaire {
  text-align: center;
}
/* line 4, ../sass/_partenaire.scss */
.partenaire .nomPart {
  font-weight: bold;
  color: #EF651B;
}
/* line 9, ../sass/_partenaire.scss */
.partenaire .photoPart {
  height: 150px;
}
/* line 13, ../sass/_partenaire.scss */
.partenaire .photoPart img {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
  max-height: 150px;
}
/* line 20, ../sass/_partenaire.scss */
.partenaire img {
  border-radius: 10px !important;
}

/* line 3, ../sass/_formulaireAbonnement.scss */
.formulaire label {
  color: #4c4c4c;
}
/* line 6, ../sass/_formulaireAbonnement.scss */
.formulaire .input-field label {
  color: black !important;
}
/* line 10, ../sass/_formulaireAbonnement.scss */
.formulaire input:not([type]):focus:not([readonly]),
.formulaire input[type=text]:focus:not([readonly]),
.formulaire input[type=password]:focus:not([readonly]),
.formulaire input[type=email]:focus:not([readonly]),
.formulaire input[type=url]:focus:not([readonly]),
.formulaire input[type=time]:focus:not([readonly]),
.formulaire input[type=date]:focus:not([readonly]),
.formulaire input[type=datetime]:focus:not([readonly]),
.formulaire input[type=datetime-local]:focus:not([readonly]),
.formulaire input[type=tel]:focus:not([readonly]),
.formulaire input[type=number]:focus:not([readonly]),
.formulaire input[type=search]:focus:not([readonly]),
.formulaire textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #4c4c4c;
  box-shadow: 0 1px 0 0 rgba(211, 211, 211, 0.5);
}
/* line 26, ../sass/_formulaireAbonnement.scss */
.formulaire input.validate .active {
  border-bottom-color: black;
}
/* line 31, ../sass/_formulaireAbonnement.scss */
.formulaire span {
  color: dimgrey;
  font-weight: bold;
}
/* line 37, ../sass/_formulaireAbonnement.scss */
.formulaire .btn {
  background-color: #00B82B;
}
/* line 41, ../sass/_formulaireAbonnement.scss */
.formulaire .btn:hover {
  background-color: #00f138;
}

/* line 1, ../sass/_newsletter.scss */
.small_image {
  width: 50px;
  margin-right: 10px;
}
