{% extends 'base.html.twig' %}

{% block body %}
    <img class="size-large" src="bundles/ruralis/images/Saint-Pierre-d'Entremont-en-Chartreuse-72-dpi.png" alt="home">

    <img id="logo" src="bundles/ruralis/images/logo.png" alt="logo ruralis magazine" />

    </header>

    <body>
    </body>

{% endblock %}