{% extends 'base.html.twig' %}

{% block body %}
    <h4 class="darkgrey">Vous abonner en tant que {{ app.session.get('type') }}</h4>
    <div class="row">
        <form name="formAbo" class="col s12 formulaire" action="{{ path('ruralis_recapitulatif_abo') }}" method="post">
            <div class="row">
                <div class="input-field col s4 offset-s1">
                    <input name="prenom" type="text" class="validate">
                    <label for="prenom">Prénom</label>
                </div>
                <div class="input-field col s4 offset-s1">
                    <input name="nom" type="text" class="validate">
                    <label for="nom">Nom</label>
                </div>
            </div>

{# Mail et Tel #}

            <div class="row">
                <div class="input-field col s4 offset-s1">
                    <input name="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s4 offset-s1">
                    <input class="validate" name="tel" type="tel">
                    <label for="tel">Téléphone</label>
                </div>
            </div>

{# Adresse #}

            <div class="row">
                <div class="input-field col s9 offset-s1">
                    <input type="text" name="rue" class="validate">
                    <label for="rue">Rue</label>
                </div>
                <div class="input-field col s2 offset-s1">
                    <input name="cp" type="text" class="validate">
                    <label for="cp">Code Postal</label>
                </div>
                <div class="input-field col s3 offset-s1">
                    <input name="ville" type="text" class="validate">
                    <label for="ville">Ville</label>
                </div>
                <div class="input-field col s2 offset-s1">
                    <input name="pays" type="text" class="validate">
                    <label for="pays">Pays</label>
                </div>
            </div>

{# Case abonnement Newsletter #}
            <div class="row">
                <div class="col s2 offset-s1">
                    <p>En plus :</p>
                    <input type="checkbox" id="newsletter" name="newsletter" checked="checked" value="off" />
                    <label for="newsletter">
                        <span>
                            Je m'abonne à la Newsletter
                        </span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col s2 offset-s5 center">
                    <input class="waves-effect waves-light btn nl" type="Submit" name="Valider">
                </div>
            </div>

        </form>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
        $(document).ready(function() {
            Materialize.updateTextFields();
        });
    </script>
{% endblock %}