{% block body %}
<div class="container">
    <div class="center">
        <img class="small_image" src="{{ asset('bundles/ruralis/images/logo.png') }}" alt="Logo">
        <h1>{{ titre }}</h1>
    </div>
    <div>
        {{ contenu | raw }}
    </div>
</div>
{% endblock %}