{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ app.session.get('type') }}</h1>
    {% for value in app.session.get('details') %}
            <p>
                {{ value }}
            </p>
        {% endfor %}
{% endblock %}