{% extends 'base.html.twig' %}

{% block body %}
    <img class="size-large" src="bundles/ruralis/images/Saint-Pierre-d'Entremont-en-Chartreuse-72-dpi.png" alt="home">

    <img id="logo" src="bundles/ruralis/images/logo.png" alt="logo ruralis magazine" />

</header>

<body>

<div class="ancre" name="valeurs" id="valeurs"></div>
<section id="description">
    <p>Illustrant une ruralité vivante, riche de ses initiatives </br>locales et de ses capacités d’innovation sociale,<br>citoyenne et agricole, Ruralis Magazine ambitionne de donner à voir les transformations des territoires ruraux en participant de façon volontariste et délibérément optimiste à la réflexion du devenir des campagnes et de leur nouvelle gouvernance.</p>

</section>

<section id="territoire">
    <h4>TERRITOIRES EN DEVENIR</h4>
    <img class="size-full" src="bundles/ruralis/images/Paysage-Clocher-1.jpg" alt="1">
    <img class="size-full" src="bundles/ruralis/images/Paysage-Clocher-2.jpg" alt="2">
    <img class="size-full" src="bundles/ruralis/images/Paysage-Clocher-4.jpg" alt="4">
    <img class="size-full" src="bundles/ruralis/images/Paysage-Clocher-6.jpg" alt="6">
    <img class="size-full" src="bundles/ruralis/images/Paysage-Clocher-9.jpg" alt="9">
</section>

<div class="ancre" name="editoriale" id="editoriale"></div>

<section id="editorial">
    <div class="edit">
        <h5>Un constat</h5>
        <p>Quand on parle des problématiques de l’aménagement des territoires ruraux, nous observons que les grands médias (l’audiovisuel et  la presse écrite) ne semblent s’y intéresser que de façon  épisodique et fragmentée au seul  ressort des éruptions sociales, des colères économiques ou de la détresse culturelle.</p>
    </div>
    <div class="edit">
        <h5>qui conforte</h5>
        <p>Ce constat nous conduit à croire qu’une nouvelle aventure éditoriale est possible.  Nous nous inscrivons dans un journalisme de profondeur et de solutions.  Cette démarche journalistique promet de décrypter les enjeux à venir et de diffuser l’envie d’agir.
        </p>
    </div>
    <div class="edit">
        <h5>notre projet éditorial</h5>
        <p>RURALIS Magazine, un trimestriel de 96 pages en quadrichromie au format 19x27.  Un travail d’enquête approfondie de terrain, de rencontres, d’échanges, de questionnement au service de l’évolution des campagnes françaises.</p>
    </div>
</section>

<section id="arpenteurs">
    <img id="magazine" src="bundles/ruralis/images/Couverture.png" alt="Couverture magazine" />

    <div id="textarp">
        <h5>Arpenteurs des territoires</h5>
        <p>Photographie, dessins et infographie seront les principales clés de lecture des sujets. Ce parti pris d’une maquette visuelle renforce le pouvoir immersif des reportages au plus près de l’action et complète le travail pertinent d’un rédactionnel de terrain. Ce magazine papier, à diffusion nationale, veut explorer la géo-diversité des campagnes françaises en rendant vivante et immersive chaque part d’humanité sous forme d’histoires incarnées.</p>
    </div>
</section>

<section id="peuple">
    <h4>PEUPLE DES CAMPAGNES</h4>
    <img class="size-full" src="bundles/ruralis/images/Editing_Culture_bandeau.png" alt="1">
    <img class="size-full" src="bundles/ruralis/images/Festival-de-Montsapey-bandeau.png" alt="2">
    <img class="size-full" src="bundles/ruralis/images/guylaine_bandeau.png" alt="3">
    <img class="size-full" src="bundles/ruralis/images/Olivier_Chaloches_bandeau.png" alt="4">
    <img class="size-full" src="bundles/ruralis/images/Tro-Breizh-bandeau.png" alt="5">
</section>

<section id="objectifs">
    <p id="para">Pour vous garantir, chers(ères) lecteurs (trices), le respect à la lettre de notre charte éditoriale, nous avons fait le choix du statut associatif dans l’esprit novateur de l’entreprise solidaire de presse d’information qui permet d’encourager </br>l’émergence et la diversité de nouveaux médias.</p>
    <a id="bilan" href="bundles/ruralis/images/Business%20plan%20Ruralis%20Magazine.pdf" target="_blank"><p class="txtorange">Objectif : 5000 abonné(e)s</p></a>
    <p>Elus des territoires ruraux, acteurs du monde agricole, citoyens engagés sur le terrain, dans l’action associative ou simple amoureux des paysages de la campagne française, le pouvoir de nous faire exister est désormais entre vos mains.</p>

    <div class="ancre" name="abonnements" id="abonnements"></div>
    <div id="flexabonnes">
        <div id="txtobjectif">
            <p>OBJECTIF</p>
            <p id="nb">5000</p>
            <p> abonné(e)s</p>
        </div>

        <img src="bundles/ruralis/images/fleche.png" alt="fleche" />

        <a id="savoir" href="bundles/ruralis/images/Business_plan_Ruralis_Magazine" target="_blank">en savoir plus</a>
    </div>
</section>


<section id="abonnement">
    <a href="bundles/ruralis/images/abonnement_de_lecteur.pdf" target="_blank">
        <img class="logoabt" src="bundles/ruralis/images/bouton-vert%20.png" alt="logo48"  />
    </a>
    <a href="bundles/ruralis/images/abonnement_de_soutien" target="_blank">
        <img class="logoabt" src="bundles/ruralis/images/bouton-jaune%20.png" alt="logo150"  />
    </a>
    <a href="bundles/ruralis/images/abonnement_ambassadeur" target="_blank">
        <img class="logoabt" src="bundles/ruralis/images/bouton-orange%20.png" alt="logo250"  />
    </a>
</section>

<section id="citation">
    <img id="img1" src="bundles/ruralis/images/logoarbre.png" alt="mini logo" />
    <div>
        <p>Dans une société en crise et en panne d'imagination, le monde rural ne pourrait-il pas être, pour une fois, un espace d'invention, d'innovation sociale ?</p>
        <p id="auteur">Préface <i>"Ils ont choisi la campagne"</i> de Bernard KAYSER</p>
    </div>
    <img id="img2" src="bundles/ruralis/images/logoarbre.png" alt="mini logo" />

</section>

<div class="ance" name="notreequipe" id="equipe"></div>
<section id="trombi">
    <img src="bundles/ruralis/images/trombi.png" alt="trombinoscope de l'équipe de rédaction, des journalistes, du magazine Ruralis">
    <div>
        </br><h6>Sylvie BRAIBANT</h6></br>
        <p>Journaliste politique internationale, elle travaille dix ans pour la chaîne audiovisuelle TF1, puis intègre la rédaction de TV5 Monde où elle exerce ses talents de rédactrice en chef sur le site Terriennes, dédié à la condition des femmes dans le monde.  Elle collabore au Monde diplomatique.</p>
    </div>
    <div>
        </br><h6>Françoise ROCHER</h6></br>
        <p>Directrice juridique adjointe du Corporate de Lagardère Active, elle exerce sa profession dans le domaine de la presse et de l’édition depuis trente ans. Elle apporte la maîtrise technique des compétences juridiques et fiscales.</p>
    </div>
    <div>
        </br><h6>Eric MANGEAT</h6></br>
        <p>Fondateur du projet.Photographe et journaliste indépendant, Eric développe depuis des années une vision humaniste et prospective de la ruralité.Ce projet est l’aboutissement d’une réflexion mûrie au plus près de la géo-diversité des campagnes et de la richesse de ses hommes.</p>
    </div>
    <div>
        </br><h6>Armelle GOUEROU</h6></br>
        <p>Co-animatrice du projet magazine, elle est journaliste-formatrice. Elle apporte son regard exigeant sur la ligne éditoriale et l’esprit qui en découle afin de structurer un contenu cohérent et séduisant. Elle met aussi à disposition son expertise professionnelle des ressources humaines et ses connaissances administratives.</p>
    </div>
    <div>
        </br><h6>Frédéric NICOLAS</h6></br>
        <p>Après avoir travaillé en presse quotidienne régionale pendant dix ans puis créé une agence éditoriale en ligne, le journaliste économique de terrain qu’il demeure a renforcé ses compétences et intervient aujourd’hui comme consultant en animation et gestion des réseaux sociaux.</p>
    </div>
</section>


{% endblock %}