{% extends 'base.html.twig' %}

{% block body %}
<div class="row center adminmodel">
    <div class="col m10 offset-m1">
        <h1>Liste des abonnés</h1>
        <div class="offset-s2 col s3">
            <a href="{{ path('ruralis_inscrits_newsletter') }}" class="btn waves-effect">Newsletter</a>

        </div>
        <div class="offset-s2 col s3">
            <a href="{{ path('ruralis_inscrits_magazine') }}" class="btn waves-effect">Magazine</a>
        </div>
    </div>

</div>
{% endblock %}